
.search { 
    border: solid;
    border-radius: 10px;
    color: #008B8B ;
    height: 30px;
    width: 200px;
    font-size: 20px;

}
.creat{
    border:  0px solid;
    background-color: rgb(0, 183, 255);
    color: white;
    box-shadow: 2px 2px 2px 3px black ;
width : 300px ; 
height: 40px;
font-size: 35px
border: width 2px;

}
div { 
    margin: 3%;
}
.plus{
    color: aliceblue;
    font-size: 25px ;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #008B8B



}

