<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeDisplay</title>
    <style>
        h1{
            font-family: cursive;
            font-size: 25px;
            border: 2px solid black;
            box-shadow: 2px 2px 2px 2px blue;
            width: 27%;
        }
        p{
            color: red;
            font-size:20px;
            font-family: cursive;
            border: 2px solid black;
            box-shadow: 2px 2px 2px 2px red;
            width: 20%;

        }

    </style>
</head>
<body>
    <h1>The Current time and data:</h1>
    <p>{{time}}</p>
    <p>{{time1}}</p>
</body>
</html>